<!DOCTYPE html>
<html>

<head>
    <title>STUDENT INFORMATION SYSTEM</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="assets/styles1.css" />
</head>

<style>
</style>

<body class="studentInformationCentre">

    <div class="navbar_class">
        <header id="header">
            <div id="logo_and_name">
                <a class="navbar_item" href="/" >
                </a>
                <h1 id="nit_name" class="navbar_item">NATIONAL INSTITUTE OF TECHNOLOGY DURGAPUR</h1>
            </div>
            
            <div id="nit_info">
                <p>An Institute of National Importance under Government of India, Ministry of Human Resource Development. Formerly known as the Regional Engineering College,
                Durgapur (REC Durgapur)</p>
            </div>
    
        </header>
    </div>

    <!-- Header -->
    <!-- Navbar  -->
    <div class="navbar_links">
            <header id="header">
                <nav>
                        <ul>
                                <li><a>About Us</a></li>
                                <li><a>Home</a></li>
                                <li><a>Sign Up</a></li>
                        </ul>
                </nav>
            </header>
        </div>

    <!-- contentBox -->
    <section class="contentBox">
        <div class="inner">
            <header class="studentInformationCentreTitleCard">
                <h2>STUDENT INFORMATION SYSTEM</h2>

            </header>
            <div class="contentBox">
                <section>
                    <div class="row">
                        <p>
                                    <a href="login_page.html">
                                            <div class="content column login_container" >
                                                    <header>
                                                        <img src="images/clipboard.png" >
                                                        <h3>LOGIN/SIGN UP</h3>
                                                    </header>
                                                    <p>Students who want to see their personal details.</p>
                                                </div>
                                    </a>

                                    
                                    <div class="content column noticeBoard_container">
                                        <header>
            
                                            <img src="images/calendar.png" href="#">
                                            <h3>NOTICE BOARD</h3>
                                        </header>
                                        <p>Know about your college activities.</p>
                                    </div>
                                    <a href="https://www.nitdgp.ac.in/">
                                        <div class="content column abuotUs_container">
                                            <header>
                                                <img src="images/networking.png" href="#">
                                                <h3>ABOUT US</h3>
                                            </header>
                                            <p>Know about us and for any cause contact us.</p>
                                        </div>
                                    </a>
                        </p>
                        
                    </div>

                </section>
            </div>
        </div>
    </section>

</body>
