<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profilepage</title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="profile.css"> -->
 </head>   
<body style="background-color: aqua">




    <div id="ContentPlaceHolder2_Panel2">
	
        <table width="100%" style="margin: 0px; padding-top: 0px;" cellpadding="0" cellspacing="0" border="0">
          
          <tbody><tr>
              <td align="left" style="width: 100%; ">
                  <table border="0" cellspacing="0" width="700" class="main_form" id="TABLE1">
                     
                     <tbody><tr><td style="color:Olive; font-family: Georgia; font-size: large; font-weight:bold; width:350px; height: 23px;" align="center" colspan="4">PROFILE &nbsp;&nbsp;PAGE &nbsp;&nbsp;FORM</td></tr>
                      <tr style="width:100%; height:50px">
                          <td class="block1" colspan="6" style="height: 23px;width: 100%" align="center">
                           
                                  <b><span id="ContentPlaceHolder2_LblMsg2" style="display:inline-block;color:Maroon;background-color:#FFE0C0;font-family:Verdana;font-weight:bold;height:23px;width:700px;"></span></b>
                                      </td>
                      </tr>
                     
                      <tr class="TrLabelSubHead" style="font-weight: bold; size: 10">
                       <td colspan="4" align="center" style="background-color:Olive; height:20px"> 
                         
                           APPLICANT PERSONAL INFORMATION</td></tr>
                       <tr><td style="height:20px; width: 229px;"></td></tr>
                      <tr id="ContentPlaceHolder2_Tr1" class="block1" style="height: 20px">
          <td align="left" style="width: 229px; height: 20px;">
                              </td>
          <td align="left" style="width: 100px; height: 20px;" colspan="2">
                              <input name="ctl00$ContentPlaceHolder2$HindiName" type="text" maxlength="50" id="ContentPlaceHolder2_HindiName" onkeydown="E();" onfocus="SetBg(this)" onblur="UnSetBg(this)" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:300px;"></td>
          <td rowspan="4" valign="top" align="left" style="color: #000000; width: 303px;">
                                     <img id="ContentPlaceHolder2_Image1" tabindex="10001" src="" style="height:80px;width:100px;">
                                      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
                                      
                                      </td>
                             </tr>
      
                      <tr class="block1" valign="bottom" style="height:20px">
                          <td align="left" style="width: 229px" valign="middle">
                              Name (In English)</td>
                          <td align="left" valign="bottom" style="width: 100px" colspan="2">
                              <input name="ctl00$ContentPlaceHolder2$ApplicantName" type="text" value="MADHAB CH POULIK" maxlength="50" id="ContentPlaceHolder2_ApplicantName" disabled="disabled" class="aspNetDisabled" onkeydown="E();" onfocus="SetBg(this)" onblur="UnSetBg(this);changeCase(this);" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:300px;"><br></td>
  
                      </tr>
                      <tr class="block1">
                          <td align="left" style="width: 229px;height: 47px" valign="middle">
                              Father Name</td>
                          <td align="left" valign="middle" style="width: 100px" colspan="2">
                              <input name="ctl00$ContentPlaceHolder2$FatherName" type="text" value="BHOLANATH POULIK" maxlength="50" id="ContentPlaceHolder2_FatherName" disabled="disabled" class="aspNetDisabled" onkeydown="E();" onfocus="SetBg(this)" onblur="UnSetBg(this);changeCase(this);" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:300px;"><br></td>
                          
                      </tr>
                      <tr class="block1" valign="top">
                          <td align="left" style="width: 229px; height: 47px;" valign="middle">
                                  Mother Name</td>
                          <td align="left" valign="middle" style="width: 100px; height: 47px;" colspan="2">
                                  <input name="ctl00$ContentPlaceHolder2$MotherName" type="text" value="IVARANI POULIK" maxlength="50" id="ContentPlaceHolder2_MotherName" disabled="disabled" class="aspNetDisabled" onkeydown="E();" onfocus="SetBg(this)" onblur="UnSetBg(this);changeCase(this);" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:300px;"></td>
                          
                      </tr>
                      <tr class="block1">
                          <td align="left" style="width: 229px; height: 40px;">
                              Date of Birth</td>
                          <td align="left" style="width: 304px; height: 40px;" colspan="1">
                              <input name="ctl00$ContentPlaceHolder2$DOB" type="text" value="27/08/1997" maxlength="10" id="ContentPlaceHolder2_DOB" disabled="disabled" class="aspNetDisabled" onkeydown="E();" onfocus="SetBg(this);blank(&#39;ctl00_ContentPlaceHolder2_DOB&#39;)" onblur="UnSetBg(this);E1(&#39;ctl00_ContentPlaceHolder2_DOB&#39;);CheckDOB(&#39;ctl00_ContentPlaceHolder2_DOB&#39;);" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:125px;">
                          </td>
                                      <td style="height: 40px; width: 232px;" align="right">Age</td>
                                      <td style="height: 40px; width: 303px;" align="center">
                                          <span id="ContentPlaceHolder2_ReligionCode">21</span></td>
                                         
                      </tr>
                      <tr class="block1">
                          <td align="left" style="width: 229px; height: 21px">
                              Gender</td>
                          <td align="left" style="width: 304px; height: 21px; ">
                              <span id="ContentPlaceHolder2_Gender">Male</span></td>
                              <td style="height: 40px; width: 232px;" align="right">Branch</td>
                              <td style="height: 40px; width: 303px;" align="center">
                                  <span id="ContentPlaceHolder2_ReligionCode">Information Technology</span></td>
                              
                      </tr>
                      
                      <tr class="block1">
                          <td align="left" style="width: 229px; height: 36px">
                              Country</td>
                          <td align="left" style=" width: 304px; height: 36px">
                              <span id="ContentPlaceHolder2_NationalityCode">INDIAN</span></td>
                          
                      </tr>
                      <tr class="block1">
                          <td align="left" style="width: 229px; height: 24px">
                              Contact No.</td>
                          <td align="left" style="font-weight: bold; width: 304px; height: 24px">
                              <input name="ctl00$ContentPlaceHolder2$ContactNo" type="text" value="8170987975" maxlength="15" id="ContentPlaceHolder2_ContactNo" disabled="disabled" class="aspNetDisabled" onblur="UnSetBg(this)" onfocus="SetBg(this)" onkeydown="E();" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:127px;"><br></td>
                          <td align="right" style="width: 232px; height:24px">
                              Email Id</td>
                          <td style="width: 303px; height: 24px" align="center">
                              <input name="ctl00$ContentPlaceHolder2$EmailId" type="text" value="madhabpoulik97@gmail.com" maxlength="50" id="ContentPlaceHolder2_EmailId" disabled="disabled" class="aspNetDisabled" onblur="UnSetBg(this)" onfocus="SetBg(this)" onkeydown="E();" style="color:Black;background-color:Transparent;border-width:1px;border-style:None;font-family:verdana;font-size:Small;width:132px;"><br></td>
                      </tr>
                    </tr>
                
                </tbody></table>
            </div>
        </body>
        </html>

                      